<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Enviarpin</servlet-name>
		<servlet-class>GoogleAppEngine.EnviarPin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Enviarpin</servlet-name>
		<url-pattern>/enviarpin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Enviarinvitacion</servlet-name>
		<servlet-class>GoogleAppEngine.EnviarInvitacion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Enviarinvitacion</servlet-name>
		<url-pattern>/enviarinvitacion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Recibirpin</servlet-name>
		<servlet-class>GoogleAppEngine.RecibirPin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Recibirpin</servlet-name>
		<url-pattern>/recibirpin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Enviarhibe</servlet-name>
		<servlet-class>GoogleAppEngine.EnviarHibe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Enviarhibe</servlet-name>
		<url-pattern>/enviarhibe</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>